In [3]:
import pandas as pd

In [11]:
# Load prepared dataset
df = pd.read_csv('../data/transactions_for_modelling.csv',index_col=False)

In [12]:
df

              date  amount  account_id  user_id
0       2019-12-16  -29.09           1      112
1       2019-12-16  160.00           1      112
2       2019-12-16  -14.00           1      112
3       2019-12-17  -94.50           1      112
4       2019-12-17   50.00           1      112
...            ...     ...         ...      ...
158764  2020-09-22  -20.00         439       77
158765  2020-09-23  -15.99         439       77
158766  2020-09-24   -1.70         439       77
158767  2020-09-24  -20.00         439       77
158768  2020-09-25   -1.20         439       77

[158769 rows x 4 columns]

# Modelling

 want to use RNN because input data for RNN is:
- n sequences, n observations, n features

translated to this data: 
- n accounts, number of days when transactions were made, transaction amount
- X = [440, individual per account, 1]

In [ ]:
# transform data shape to input in RNN